* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

.env
.env.*
!.env.example

npm-debug.log
yarn-error.log

.phpunit.cache
.phpunit.result.cache

.idea/
.vscode/
.DS_Store
Thumbs.db